<!DOCTYPE html>
<html>
  <head>
    <title>Pirate Radio Club</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <meta name="turbo-visit-control" content="reload"> -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid bg-light p-4">
      <div class="flash-message bg-light text-center">
        <% if notice %>
        <div class="flash-notice alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% end %>
        <% if alert %>
        <div class="flash-alert alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>

  </body>
</html>
